.details {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.additionalInfo {
  padding: 0.5rem 1rem 0 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabs {
  width: 100%;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0;
  gap: 1rem;
}

.tab {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
}

.tab:has(> .link.active) {
  background-color: snow;
  border-width: 2px;
}

.additionalInfo:has(.link.active) {
  border-bottom-width: 2px;
}

.link {
  text-decoration: none;
  font-size: larger;
}

.link:hover {
  text-decoration: underline;
}

.link.active {
  color: palevioletred;
  text-decoration: underline;
}
